.progress-some{
  background: red;
  height: 20px;
  width: 200px;
}

.progress-new{
  background:black;
  height:20px ;
  width: 80%;
}

.language{
  font-family: "Ubuntu";
  font-size: 1.5rem;
  color: black;
  text-transform: capitalize;
}